<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página não encontrada</title>
    <style>
        body { text-align: center; font-family: Arial, sans-serif; padding: 50px; background-color: #0e0b14;}
        h1 { font-size: 60px; color: #ff39c0; }
        p { font-size: 18px; color: white; }
        a { color: #3498db; text-decoration: none; }
    </style>
</head>
<body>
    <h1>404</h1>
    <p>Ops! Algo deu errado, volte para a pagina inicial</p>
    <a href="/">Voltar para a página inicial</a>
</body>
</html>